$white: #ffffff;
$dark-blue: #123155;
$pink: #E2016A;

body {
  background-color: #f3f5f7 !important;
}

.dark-blue-bg {
  background-color: $dark-blue;
  color: $white;
}

.pink-bg {
  background-color: $pink;
  color: $white;
}

.white-bg {
  background-color: $white;
}

ul {
  margin: 0px !important;
  padding: 0px !important;
}

li {
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px 0px 0px !important;
  color: $dark-blue;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 18px !important;
}

li::before {
  content: url('/assets/check.svg');
  position: relative;
  top: 3px;
  padding-right: 10px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 56px !important;
  line-height: 120% !important;
  color: $dark-blue;
}

@media (max-width: 768px) {
  h1{
    font-size: 36px !important;
  }
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 140% !important;
  color: $dark-blue;
  padding: 10px 0px 0px 0px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 160% !important;
  color: $dark-blue;
  padding: 10px 0px 0px 0px;
}

.btn {
  border: none !important;
  border-radius: 0px !important;
  padding: 10px 16px;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  background-color: #E2016A !important;
}

.btn-secondary {
  background-color: rgba(18, 49, 85, 0.2) !important;
  color: $dark-blue !important;
}

.btn-primary::after {
  content: url('/assets/arrow-white.svg');
  position: relative;
  top: 3px;
  padding-left: 6px;
}

.btn-secondary::after {
  content: url('/assets/arrow-blue.svg');
  position: relative;
  top: 3px;
  padding-left: 6px;
}

.pad {
//  padding: 0vw 6vw 0vw 6vw !important;
}

.space {
  margin: 120px 0px 0px 0px;
}

.space-plus {
  margin: 160px 0px 0px 0px;
}

@media (max-width: 768px) {
  .space {
    margin: 60px 0px 0px 0px;
  }

  .no-sm {
    margin-top: 0px !important;
  }

  .only-sm {
    margin-top: 60px !important;
  }
}

.header {
  background-color: $dark-blue;
  padding: 40px 0px 240px 0px;
}

.hero {
  height: 600px;
  margin: -200px 0px 0px 0px;

  display: flex;
  align-items: flex-end;

  background-image: url('/assets/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: $white;
    align-self: flex-end;
    padding: 0vw 2vw 2vw 2vw;
    font-size: 72px !important;
  }
}

.book {
  background-color: $white;
  padding: 32px !important;
}

@media (max-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .pad {
//      padding: 0px 80px 0px 80px !important;
  }

  .hero {
//    padding: 0px 0px 80px 0px;
  }
}

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('assets/hero.jpg');
  height: 40vh;
}
