body {
  background-color: #f3f5f7 !important;
}

.dark-blue-bg {
  background-color: #123155;
  color: #ffffff;
}

.pink-bg {
  background-color: #E2016A;
  color: #ffffff;
}

.white-bg {
  background-color: #ffffff;
}

#white {
  background-color: #ffffff;
}

ul {
  margin: 0px !important;
  padding: 0px !important;
}

a:hover {
  text-decoration: none !important;
}

.nospace {
  margin: 0px !important;
  padding: 0px !important;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 56px !important;
  line-height: 120% !important;
  color: #123155;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px !important;
  }
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 140% !important;
  color: #123155;
  padding: 10px 0px 0px 0px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 160% !important;
  color: #123155;
  padding: 10px 0px 0px 0px;
}

.date {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: rgba(18, 49, 85, 0.5) !important;
}
.date a {
  color: rgba(18, 49, 85, 0.5) !important;
  text-decoration: underline !important;
}

.thumbnail {
  background-color: rgba(18, 49, 85, 0);
}

.thumbnail:hover {
  background-color: rgba(18, 49, 85, 0.05);
}

.btn {
  border: none !important;
  border-radius: 0px !important;
  padding: 10px 16px;
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  background-color: #E2016A !important;
}

.btn-primary:hover {
  background-color: #D20062 !important;
}

.btn-secondary {
  background-color: rgba(18, 49, 85, 0.2) !important;
  color: #123155 !important;
}

.btn-secondary:hover {
  background-color: rgba(18, 49, 85, 0.25) !important;
}

.btn-info {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #ffffff !important;
}

.btn-info:hover {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.btn-primary::after {
  content: url("/assets/arrow-white.svg");
  position: relative;
  top: 3px;
  padding-left: 6px;
}

.btn-secondary::after {
  content: url("/assets/arrow-blue.svg");
  position: relative;
  top: 3px;
  padding-left: 6px;
}

.facebook::before {
  content: url("/assets/facebook.svg");
  position: relative;
  top: 2px;
  padding-right: 10px;
}

.facility {
  background-color: #f0f0e7;
  padding: 30px 0px 60px 0px !important;
}
.facility .facility-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 140% !important;
  color: #292929;
  margin: 30px 0px 10px 0px;
  display: block;
}
.facility li {
  padding: 3px 0px 0px 0px !important;
  margin: 0px !important;
  list-style-type: none;
}
.facility li::before {
  content: url("/assets/facility-check.svg");
  position: relative;
  top: 4px;
  padding-right: 13px;
}
.facility .algemeen::before {
  content: url("/assets/algemeen.svg");
  position: relative;
  top: 4px;
  padding-right: 8px;
}
.facility .woonkamer::before {
  content: url("/assets/woonkamer.svg");
  position: relative;
  top: 4px;
  padding-right: 8px;
}
.facility .keuken::before {
  content: url("/assets/keuken.svg");
  position: relative;
  top: 4px;
  padding-right: 8px;
}
.facility .slaapkamer::before {
  content: url("/assets/slaapkamer.svg");
  position: relative;
  top: 4px;
  padding-right: 8px;
}
.facility .badkamer::before {
  content: url("/assets/badkamer.svg");
  position: relative;
  top: 4px;
  padding-right: 8px;
}
.facility .wellness::before {
  content: url("/assets/wellness.svg");
  position: relative;
  top: 4px;
  padding-right: 8px;
}
.facility .buiten::before {
  content: url("/assets/buiten.svg");
  position: relative;
  top: 4px;
  padding-right: 8px;
}
.facility .ligging::before {
  content: url("/assets/ligging.svg");
  position: relative;
  top: 4px;
  padding-right: 8px;
}

.no-padding {
  padding: 0vw 0.25vw !important;
}

.space {
  margin-top: 120px !important;
}

.space-min {
  margin-top: 60px !important;
}

.padding-min {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.padding {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.space-plus {
  margin-top: 160px !important;
}

@media (max-width: 768px) {
  .space {
    margin-top: 60px !important;
  }

  .padding {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .no-sm {
    margin-top: 0px !important;
  }

  .only-sm {
    margin-top: 60px !important;
  }

  .no-padding {
    padding: 0vw 0vw !important;
  }

  .image-margin {
    margin-top: 0vw !important;
  }
}
.header {
  background-color: #123155;
  padding: 40px 0px 240px 0px;
}

.hero.min {
  height: 300px !important;
}
.hero.min h1 {
  font-size: 56px !important;
}

.kaart {
  background-image: url("assets/plattegrond.jpg");
  height: 450px;
  background-size: cover;
  background-position: top;
}

.bc {
  margin-top: -200px;
}

.hero.bc {
  margin-top: 0px;
}

.hero {
  height: 600px;
  margin: -200px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  color: #ffffff;
  align-self: flex-end;
  padding: 0vw 2vw 2vw 2vw;
  font-size: 72px !important;
}
@media (max-width: 450px) {
  .hero h1 {
    font-size: 46px !important;
  }
}

.no-webp .home {
  background-image: url("/assets/hero.jpg");
}

.webp .home {
  background-image: url("/assets/hero.webp");
}

.no-webp .home-alt {
  background-image: url("/assets/carousel2-1.jpg");
}

.webp .home-alt {
  background-image: url("/assets/carousel2-1.webp");
}

.no-webp .omgeving {
  background-image: url("/assets/indeomgeving.jpg");
}

.webp .omgeving {
  background-image: url("/assets/indeomgeving.webp");
}

.navbar {
  padding: 0px !important;
}

.nav-link {
  padding-right: 30px !important;
  padding-left: 0px !important;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.no-r {
  padding-right: 1px !important;
}

.dropdown {
  list-style: none !important;
}

.book {
  background-color: #ffffff;
  padding: 32px !important;
}
.book li {
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px 0px 0px !important;
  color: #123155;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.checklist li::before {
  content: url("/assets/check.svg");
  position: relative;
  top: 3px;
  padding-right: 10px;
}

.smalllist li {
  font-size: 16px !important;
  font-weight: 600 !important;
  list-style-type: none;
  padding: 3px 0px 3px !important;
}

.card {
  border: none !important;
  border-radius: 0px !important;
  border: none !important;
}

.card-header {
  background-color: #123155 !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 900 !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px 0px 8px 8px !important;
}
.card-header button {
  color: #ffffff !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.card-body {
  padding: 10px 20px 10px 20px !important;
}

@media (max-width: 768px) {
  .hero {
    height: 400px;
  }
}
.breadcrumb {
  background-color: transparent !important;
  padding: 0px !important;
}
.breadcrumb a {
  color: #ffffff;
}
.breadcrumb a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.breadcrumb .active {
  color: rgba(255, 255, 255, 0.5) !important;
}

.cookiealert {
  background: #123155 !important;
  font-family: "Open Sans", sans-serif !important;
}

.ekko-lightbox-nav-overlay a {
  color: #ffffff !important;
}

.modal-body {
  padding: 0px !important;
}

.modal-content {
  border: none !important;
  border-radius: 0px !important;
  background-color: none !important;
}

.image-margin {
  margin-top: 0.5vw !important;
}

.no-webp .contact {
  background-image: url("assets/plattegrond.jpg") !important;
  background-position: center left !important;
}

.webp .contact {
  background-image: url("assets/plattegrond.webp") !important;
  background-position: center left !important;
}

.no-webp .vliegfabriek {
  background-image: url("blogs/img/vliegfabriek2.jpg") !important;
  background-position: center left !important;
}

.webp .vliegfabriek {
  background-image: url("blogs/img/vliegfabriek2.webp") !important;
  background-position: center left !important;
}

.no-webp .musea-almelo {
  background-image: url("blogs/img/musea-almelo.jpg") !important;
  background-position: center left !important;
}

.webp .musea-almelo {
  background-image: url("blogs/img/musea-almelo.webp") !important;
  background-position: center left !important;
}

.no-webp .ommetje-hh {
  background-image: url("blogs/img/ommetje-hoge-hexel.jpg") !important;
  background-position: top left !important;
}

.webp .ommetje-hh {
  background-image: url("blogs/img/ommetje-hoge-hexel.webp") !important;
  background-position: top left !important;
}

.no-webp .fietstocht {
  background-image: url("blogs/img/fietstocht.jpg") !important;
  background-position: center !important;
}

.webp .fietstocht {
  background-image: url("blogs/img/fietstocht.webp") !important;
  background-position: center !important;
}
